@media screen and (max-width: 800px){

  body{
    background-color:#0276E8;
  }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 30vh 60vh 10vh;
        margin: 0px 12px 0px 12px;
        column-gap: 12px;
        grid-template-areas: 
        "header_1 header_2 header_3 header_4" 
        "body_1 body_2 body_3 body_4"
        "footer_1 footer_2 footer_3 footer_4";
      }

      .saudacao{
        grid-area:header_1/header_2/header_1/header_3;
        align-self: end;
        text-align: center;
        color: white;
      }

      .saudacao>h1{
        font-size: 24px;
        margin: 20px 0px 10px 0px;
        font-weight: bold;
      }

      .saudacao>p{
        font-size: 12px;
        font-weight: bold;
      }

      .formulario{
        /* background-color:  rgb(49, 186, 28); */
        grid-area:body_1/body_1/body_1/body_4;
        display: flex;
        flex-direction: column;

        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .formulario>div{
        display: flex;
        flex-direction: column;
        margin: 20px 0px;
      }

      .formulario>div>label{
        font-size: 14px;
        font-weight: bold;
        margin: 20px 0px 10px 0px;
        color: white;
      }

      .formulario>div>input{
        height: 36px;
        border-radius: 10px;  
        border: none;    
      }

      .formulario>div>p{
        text-align: center;
        color: white;
        margin: 10px 0px 10px 0px;
        font-size: 12px;
        font-weight: bold;
      }

      .img_logo{
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      } 

      .logar{
        height: 36px;
        width: 100%;
        align-self: center;
        border-radius: 10px;
        background-color: #033FFF;
        color: white;
        font-size: 12px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }


    }