    
    .wrapper_home{
        font-family: 'Inter', sans-serif;
        letter-spacing: -0.019em;
        background-color:#F5E615;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 20vh 70vh 10vh;
        /* margin: 0px 12px 0px 12px; */
        column-gap: 12px;
        grid-template-areas: 
        "header_1 header_2 header_3 header_4" 
        "body_1 body_2 body_3 body_4"
        "footer_1 footer_2 footer_3 footer_4";
        /* color: #444; */
      }

      .cabecalho_home{
        display: none;
      }

      .wrapper_home>h1{
        align-self: center;
        color: white;
        font-size: 16px;
        grid-area:header_6/header_6/header_6/header_7;  
        display: none;   
      }
      
      .corpo_home{
        display: none;
      }
  
      .logo_home{
        /* background-color:  #444; */
        grid-area:body_1/body_1/body_4/body_4;
      }
    
      .img_logo_home{
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
      }    
    
    /* botões */
    .logar_home{
        font-family: 'Inter', sans-serif;
        letter-spacing: -0.019em;
        height: 36px;
        grid-area:footer_1/footer_1/footer_1/footer_2;
        border-radius: 10px;
        background-color: #033FFF;
        margin-left: 12px;
        cursor: pointer;
        text-align: center;
        color: white;
        font-size: 12px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .cadastrar_home{
        font-family: 'Inter', sans-serif;
        letter-spacing: -0.019em;
        height: 36px;
        grid-area:footer_1/footer_3/footer_1/footer_4;
        border-radius: 10px;
        background-color: #033FFF;
        margin-right: 12px;
        cursor: pointer;
        color: white;
        font-size: 12px;
        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    /* botões */



@media screen and (min-width: 800px){


  .wrapper_home{
    background-color:#F5E615;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 85vh 5vh;
    /* margin: 0px 12px 0px 12px; */
    column-gap: 12px;
    grid-template-areas: 
    "header_1 header_2 header_3 header_4 header_5 header_6 header_7 header_8 header_9 header_10 header_11 header_12" 
    "body_1 body_2 body_3 body_4 body_5 body_6 body_7 body_8 body_9 body_10 body_11 body_12"
    "footer_1 footer_2 footer_3 footer_4 footer_5 footer_6 footer_7 footer_8 footer_9 footer_10 footer_11 footer_12";
    /* color: #444; */
  }

  .cabecalho_home{
    background-color: #0276E8;
    border-radius: 0px 0px 20px 20px;
    display: grid;
    grid-area:header_1/header_1/header_1/header_12;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  }

  .logo_home{
    align-self: center;
    justify-self: center;
    grid-area:header_1/header_1/header_1/header_2;
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    /* display: none; */
  }

  .wrapper_home>h1{
    display: block;   
  }

  .logar_home{
    align-self: center;
    grid-area:header_9/header_9/header_9/header_10;
  }

  .cadastrar_home{
    align-self: center;
    grid-area:header_11/header_11/header_11/header_12;
  }

  .corpo_home{
    display: flex;
    background-color: #0276E8;
    margin: 24px 24px 0px 24px;
    border-radius: 20px;
    grid-area:body_1/body_1/body_12/header_12;  
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .corpo_home_esquerda{
    background-color: #033FFF;
    border-radius: 0px 100px 0px 20px;
    align-self: end;    
    height: 95%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .corpo_home_esquerda>div>h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
  }

  .corpo_home_esquerda>div>h2{
    text-align: center;
    color: white;
    font-size: 16px;
    margin-bottom: 10%;
  }

  .corpo_home_esquerda>img{
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    justify-self: flex-end;
    margin: 0px 0px 0px 30%;
  }

  .corpo_home_direita{
    /* background-color: #00155c; */
    border-radius: 0px 20px 20px 20px;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .corpo_home_direita>img{
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
  }

  .corpo_home_direita>div>h1{
    color: white;
    font-size: 36px;
    font-weight: bold;
  }

  .corpo_home_direita>div>h2{
    color: white;
    font-size: 12px;
    text-align: center;
    margin: 5px;
    /* font-weight: bold; */
  }

  .botoes_loja{
    display: flex;
    flex-direction: row;
  }

  .corpo_home_direita>div>img{
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
  }
  
}